os:
  - osx
language: node_js
node_js:
  - '12'
dist: xenial
services:
  - xvfb
before_script:
  - export DISPLAY=:99.0
install:
  - npm set progress=false
  - npm install
script:
  - ng lint
  - npm run build:electron
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  draft: false
  file:
    - "release/*.dmg"
    - "release/*.dmg.blockmap"
  name: instacode $(date +'%d.%m.%Y %R')
  on:
    branch: master
