
pre {
  overflow-x: auto;
  overflow-y: auto;
  margin: 0;
  padding: 10px;
  height: calc(100% - 20px);
  display: block;
  font-family: monospace;
  white-space: pre;
  line-height: normal;
}

// monokai
pre {
  background: #272822;
  color: #f8f8f2;
}
