
.column {
  float: left;
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
