/* You can add global styles to this file, and also import other style files */

@import "reset-css";
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/monokai";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
